#head{
    color: blue;
    text-align: center;
    
}
#pic{
width: 200px;
height: 200px;
}
body{
    margin: 50px;
}

/* .container{
    border: 1px solid black;
    width: 75%;
    margin: 0 auto;
    text-align: center;
    
} */

#ye{
    font-size: 20px;
    padding-left: 0px;
    margin-left: 0px;
}

.flex img:hover{
    box-shadow:0px 10px 50px rgba(37,50,233,1);
}
.flex{
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
    margin: 0 auto;
    justify-content: space-between;
    padding: 30px;
    row-gap: 100px;
    flex-direction: row;
}
